<template>
    <div class="row">
        <div class=" col-4">
            <div class="card-header">
                Filters
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label><b>Name</b></label>
                    <input type="text" v-model="filters.name" class="form-control" placeholder="Enter name">
                </div>
                <div class="form-group mt-3">
                    <label><b>Sort price</b></label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" v-model="filters.price" id="low"
                               value="low">
                        <label class="form-check-label" for="low">
                            low
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" v-model="filters.price" id="high"
                               value="high">
                        <label class="form-check-label" for="high">
                            high
                        </label>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label><b>Characteristics</b></label>
                    <div class="form-group px-3" v-for="(values, characteristic) in filter_characteristics">
                        <label>{{characteristic}}</label>
                        <div class="form-check" v-for="value in values">
                            <input type="checkbox" class="form-check-input" v-model="filters.characteristics" :id="value" :value="value">
                            <label class="form-check-label" :for="value">{{value}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="alert alert-danger" v-if="error" role="alert">
                {{ error }}
            </div>
            <button class="btn btn-success float-right mb-2" @click="updateProducts">Update products</button>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Characteristics</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="product in productsAll">
                    <th scope="row">{{product.id}}</th>
                    <td>{{product.name}}</td>
                    <td>
                        <p class="mb-0" v-for="(value, key) in product.characteristics">{{key}}: {{value}}</p>
                    </td>
                    <td>{{product.price}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            products: {
                required: true
            },
            filter_characteristics: {
                required: true
            },
        },
        data() {
            return {
                productsAll: this.products,
                filters: {
                    name: null,
                    price: null,
                    characteristics: [],
                },
                error: null,
                update: true,
            }
        },
        methods: {
            updateProducts: function () {
                if(this.update) {
                    this.update = false;
                    axios
                        .post("/ajax/update-products")
                        .then(response => {
                            this.error = null;
                            this.productsAll = response.data.products;
                            // console.log(response.data.products);

                        })
                        .catch(error => {
                            if (error.response.data.error) {
                                this.error = error.response.data.error;
                            } else {
                                this.error = null;
                            }
                            console.log(error.response);
                        }).finally(() => {
                        this.update = true;
                    });
                }

            },

            filterProducts: function () {

                if(this.update) {
                    this.update = false;
                    axios
                        .post("/ajax/filter-products", {
                            filters: this.filters,
                        })
                        .then(response => {
                            this.error = null;
                            this.productsAll = response.data.products;
                            // console.log(response.data.products);

                        })
                        .catch(error => {
                            if (error.response.data.error) {
                                this.error = error.response.data.error;
                            } else {
                                this.error = null;
                            }
                            console.log(error.response);
                        }).finally(() => {
                        this.update = true;
                    });
                }
            },

        },
        mounted() {
            this.$watch('filters', function () {this.filterProducts()}, {deep:true});
            // console.log(w)
        }
    }
</script>
